[2017-01-31 15:38] vadimb opened #1 "Minimum deployment target to iOS 8.0"
Hi,
is there anything that could prevent us from lowering the deployment target to iOS 8.0 ? It seems that both libs(SwiftyBeaver,CocoaAsyncSocket) support iOS 8.0.

[2017-02-02 21:14] albertodebortoli commented on #1
@vadimb I believe we can support 8.0 without any code change.
Reason why we haven't done it is that we develop against 9.0 for all the components at Just Eat but we would accept a pull request if that helps.

[2017-02-13 05:47] augusteo opened #3 "minLevel set"
Hi, I wanted to set minLevel for console logging but the vars are private

[code]

Do you have another way to set it or should I send a PR with a functionality to enable minLevel changes?

use case: I only wanted to see logs on warning and error, ignoring all the others.

[2017-02-14 01:47] augusteo opened #4 "crash when logstashHost isn't set"
during `setup()`, this will crash

`logstash = LogstashDestination(host: logstashHost, port: logstashPort, timeout: logstashTimeout, logActivity: logLogstashSocketActivity)`

because `logstashHost` is of type `String!`.

easy way to solve would be to just give a default of `""` like the other logstash vars.

[2017-02-15 21:30] albertodebortoli commented on #4
@augusteo thanks for reporting! It should be now fixed with #5 and will hopefully be merged in soon

[2017-02-15 21:41] albertodebortoli commented on #3
@augusteo I think it's a valid point. It should be now fixed with #6 and will hopefully be merged in soon.

[2017-02-16 10:20] federicocappelli commented on #3
Merged in master

[2017-02-16 10:20] #3 closed, assigned to federicocappelli

[2017-02-16 10:21] federicocappelli commented on #4
Merged in master

[2017-02-16 10:21] #4 closed, assigned to federicocappelli

[2017-02-16 10:45] vadimb commented on #1
#7

[2017-02-16 10:51] vadimb commented on #1
Sorry for late response @albertodebortoli . I changed it in #7

[2017-02-17 21:19] albertodebortoli commented on #1
@vadimb Thanks. This is now publicly available in trunk (v 1.1.0).

[2017-02-17 21:20] albertodebortoli commented on #3
This is now publicly available in trunk (v 1.1.0).

[2017-02-17 21:20] albertodebortoli commented on #4
This is now publicly available in trunk (v 1.1.0).

[2017-02-17 21:20] #1 closed, assigned to nobody

[2017-03-10 09:19] Montrazul commented on #4
Wrong. It is still crasing.

[code]

`fatal error: unexpectedly found nil while unwrapping an Optional value`

at

[code]

[2017-03-10 11:08] albertodebortoli commented on #4
@Montrazul you're right! #8 solves it.

[2017-03-10 12:15] Montrazul commented on #4
When will it be merged into master?

[2017-03-10 18:40] albertodebortoli commented on #4
@Montrazul it's done. v1.1.1 is on Cocoapods now.

[2017-03-13 11:02] dkavraal opened #9 "no ssl"
How do we manage SSL? Neither documentation covers nor could I have found a way to set the certificate.

[2017-05-03 01:13] nootfly opened #12 "How to config logstash"
Would you please give more detail about the server side?  How do we config logstash?

[2017-05-04 22:35] rcgary opened #13 "Crashing on writeLogs()"
I got some crashes happend on my hockey crash report:

[code]
Any idea why this happened?

[2017-06-12 11:06] albertodebortoli commented on #12
This is a very broad topic @nootfly
I suggest to read https://logz.io/learn/complete-guide-elk-stack/
or, quite simply, to use a Saas solution such as https://logz.io/

[2017-06-12 11:07] #12 closed, assigned to nobody

[2017-06-30 15:20] RuiAAPeres opened #16 "Proposal: Smaller API"
We are currently using JustLog in our project, but we find the current API area quite extensive:

[code]

To make it easier for us, we created a wrapper around the `Logging` protocol like so:

[code]

Where the key bit is the `LogLevel`:

[code]

This is just a minor thing, but do you think it would make sense to have the same in JustLog? I am happy to make a PR.

[2017-07-04 23:43] albertodebortoli commented on #16
@RuiAAPeres opinable but agreeable! Happy to accept a PR.

[2017-07-05 20:38] arjunattam opened #17 "Logstash ssl error"
Logging through logstash is unreliable - works for some time and not for the rest. The library shows these errors in the console:

[code]

[code]

Restarting logstash seems to fix the issue, which suggests there's something wrong with the logstash config (shown below). Any suggestions on what could be wrong? I'm on logstash 5.1.1

[code]

Thanks for the good work on the library!

[2017-07-25 08:16] oronbz commented on #16
@albertodebortoli @RuiAAPeres just note that this should be in addition to the current API to properly support Objective-C as well. Because Obj-C doesn't support Swift enums.

[2017-07-25 08:18] oronbz opened #18 "Set logStash log level"
Hi,
Is there anyway to set the log level threshold that will be uploaded to logStash?
for instance, I want to see `verbose` logs in my console but I do not want them uploaded to logstash. Let's say I want to upload only `debug` and up.
Is there a possible solution to this?

[2017-07-25 08:20] oronbz commented on #18
Never mind! found it under `logStash.level` (:

[2017-07-25 08:20] #18 closed, assigned to nobody

[2017-08-09 15:30] oronbz opened #20 "Is this still maintained? Looking for collaborators?"
Hi Guys,
I've started using `JustLog` and it kind of fit my needs so many thanks on the great work you've done here. I didn't find any other `Logz.io` solution for iOS other than implementing it myself.

But I've noticed you're not very active on PRs and issues. Do you need any help with maintaining this library? Should I fork it and maintain it on my own?

There are a few things I'd like to impro

[2017-08-19 18:13] marcospolanco commented on #20
Listening in as well. Thx, @ilazakis.

[2017-08-23 22:51] ghost commented on #20
Hi both, @oronbz @marcospolanco  this is the library we use internally at Just Eat currently on the UK app and rest assured we are maintaining it 100%. Reason why it doesn't look particularly under development its that the current version already fulfils our needs but we have some changes lined up to improve the logging of `NSError`s (as it's an internal need) that we plan to add in the coming day

[2017-08-23 23:00] ghost commented on #13
@rcgary It seems that the crash is happening at line 82 of LogstashDestination.swift when sorting the collection

[code]

Sorry of not being of any particular help, I'm confused by the stack trace, the only place where Int entries are added is in `addLog` and given the time safety of Swift, I find hard to figure out why the < operator fails on Int values.

We are not encountering any crash in prod

[2017-08-29 22:34] ghost commented on #20
@oronbz @marcospolanco we released version 1.3.0 with better support for error logging. So... yes, this library is very much still maintained (just like all the iOS libraries we develop at Just Eat) 😊
Will close the issue.

[2017-08-29 22:34] #20 closed, assigned to nobody

[2017-09-08 01:24] molynerd opened #24 "Implement CocoaAsyncSocket 7.6.1"
I'd like to use this for my project, but this pod depends on CocoaAsyncSocket 7.5.0 and I'm already depending on 7.6.1.

I'd love to help out if possible, but it doesn't appear that the files are complete. There appears to be no way to open this project. That could just be my inexperience with developing pods. Let me know.

[2017-09-08 01:30] molynerd commented on #24
Wait... I think I figured it out. If I can get it updated, I'll submit a PR.

[2017-09-08 01:51] molynerd commented on #24
I'm not seeing any problems with using 7.6.1. Are there any tests you have to validate?

[2017-09-08 01:59] molynerd commented on #24
All tests in [Tests](https://github.com/justeat/JustLog/tree/master/Example/Tests) passed, though they don't appear to be directly testing the socket implementation. Let me know if there's something else you'd want to validate here.

[2017-09-08 11:21] ghost opened #26 "Objective-C interface reports wrong metadata"
The objective-C interface reports the wrong line number, file name, and function - this happens due to the macros being referenced within the *_objc method bodies, rather than as a default parameter.

(Unfortunately, it is not currently possible to create an Obj-C implementation to wrap the swift version due to the lack of Obj-C bridging for StaticString).

[2017-11-13 14:41] ghost commented on #24
Hi @molynerd sorry for the delay in response! The change is in the master branch now and available in version 1.3.1 via Cocoapods.

[2017-11-13 14:41] #24 closed, assigned to nobody

[2017-11-13 14:45] ghost commented on #13
@rcgary I'm closing the issue for inactivity. I trust you managed to sort this out in your code by now, if not, please reopen providing more details.

[2017-11-13 14:45] #13 closed, assigned to nobody

[2017-11-13 16:19] #26 closed, assigned to nobody

[2017-11-13 16:50] ghost commented on #16
Hey @RuiAAPeres, we've discussed this for a while and feel that this may be better kept as an external extension on the existing API.

If we were to add this, we would have to reverse the pattern here - i.e. have the level-specific methods call the more generic "log" method. However, as this has only been requested for convenience / syntactic sugar, we feel using an extension outside the library i

[2017-11-14 11:35] ghost commented on #16
I'll leave this open for a few days for further comment and close after that.

[2017-11-14 11:42] ghost commented on #17
Hey this is probably a question more suited to the nginx team (assuming that the above is nginx config).

Sorry we can't help you further @arjun27, but if you're discover the answer please do post back here for the benefit of others :)

[2017-11-14 11:42] #17 closed, assigned to nobody

[2017-11-14 12:07] ghost commented on #9
Hi @dkavraal

Currently we don't support SSL as we don't expose the socket for configuration in the LogstashDestination.

If you'd like to add this functionality please submit a PR.

Closing for now.

[2017-11-14 12:07] #9 closed, assigned to nobody

[2017-11-24 14:23] #16 closed, assigned to nobody

[2017-11-29 08:24] yoni6666 opened #32 "commit 303aaf7 - compilation error"
line 41 - doesnt compile
   **retVal = retVal.merged(with: inner.userInfo.flattened())**

error : generic parameter "Value" could not be inferred

[2017-12-04 18:41] jeremangnr opened #34 "Carthage support"
Hi, would you guys be open to supporting Carthage? I could volunteer to implement this :D

[2017-12-08 14:05] ghost commented on #34
Hi @jeremangnr, yes we are keen to have support for Carthage. Feel free to raise a Pull Request.

[2017-12-08 14:07] ghost commented on #32
Hi @yoni6666, weird! We have CI building all the Pull Requests and all of them are green before we merge them. Commit 303aaf7 migrates JustLog to Swift 4, can you confirm you are on the same version or can you please provide more info?

[2017-12-24 11:25] plantpurecode commented on #32
I am seeing this as well.

[2018-01-08 09:06] TaugyStyle commented on #32
Hi , I do have the same issue, is there anything new on it ? JustLog v2.0.1.
Thanks for your time.

[2018-01-18 22:07] marcospolanco commented on #34
@jeremangnr It would make my week to have this in place. How to help?

[2018-02-22 00:44] dmahen commented on #32
This happens when the swift version is set to 3.2, it needs to be set to 4.0 like this, for just the JustLog framework if you don't want to convert your project to swift 4 ![this](https://i.imgur.com/hPZi86C.png)

[2018-03-05 10:54] ghost commented on #32
Thanks @dmahen, you are right! We published version 2.0.2 with the `swift_version` set in the podspec (PR #35). cc @jacobrelkin @yoni6666
Closing this as it's now resolved.

[2018-03-05 10:55] #32 closed, assigned to nobody

[2018-03-22 09:42] tanis2000 opened #39 "Question: how's this logger talking to Logstash?"
What kind of plugin and codec (and charset) should be defined on Logstash for JustLog to work correctly?

[2018-03-22 11:43] tanis2000 commented on #39
I figured out that my issue is that you need to turn SSL "on" in Logstash.
But since I'm using a self-signed certificate I can't connect, so I had to change a few lines in AsyncSocketManager.

Specifically add the delegate for `didReceive trust`:

[code]
and replace the line where it starts the TLS connection with the following:

[code]

Would it be possible to make this configurable instead?

[2018-03-23 16:24] #34 closed, assigned to nobody

[2018-03-23 20:56] ghost commented on #39
Hi @tanis2000 this is not sorted with #37 (version JustLog v2.1.0) which funny enough arrived from the community at the same time of your message here. Are you working with @wolfAle by any chance? :D

[2018-03-23 20:56] #39 closed, assigned to nobody

[2018-03-24 11:39] tanis2000 commented on #39
@albertodebortoli-je now that's definitely funny :) I don't even know him but it looks like we got caught in the same situation at the same time :-P
BTW thanks for this project, it's helping sorting some issues out with one of my customers ;)

[2018-03-24 11:41] ghost commented on #39
Ah... the universe! 😄 What a coincidence! Glad it helped.

[2018-04-08 22:19] SoundBlaster opened #42 "Doc mistake?"
In doc I see:
```Please note that metadata such as filename and line number are unavailable in Objective-C.```
But may be in Swift it is unavailable?
On Objective-C you can do it with:
```NSLog((@"%s [Line %d] " fmt), __PRETTY_FUNCTION__, __LINE__,...```
https://stackoverflow.com/a/969291/602249

[2018-04-10 21:22] avi-midtown opened #43 "`error` parameter with non-JSONable `userInfo`"
When passing an `NSError` parameter to the logging method, the error's `userInfo` property is merged into the `userInfo` parameter and converted to JSON. However, some standard `NSError`s contain `userInfo` which are not valid JSON objects. For example, `NSURLErrorDomain` errors usually contain `NSErrorFailingURLKey` which is of type `NSURL`. Moreover, some of these are trapped inside underlying e

[2018-04-13 13:19] ghost commented on #43
Hi @avi-midtown thanks for contributing, your proposal looks sound to us. Would you mind creating a pull request for it?

[2018-04-13 13:20] ghost commented on #42
Hi @SoundBlaster, the problem is that JustLog is a swift library but the Swift macros are of type StaticString, which is unavailable in Objective-C.

Please see this issue for more information: https://github.com/justeat/JustLog/issues/26

Please let us know if you have any other thoughts, otherwise we will close this issue in a few days.

[2018-04-15 10:50] SoundBlaster commented on #42
Sorry for this issue. You are 100% right. Closed.

[2018-04-15 10:50] #42 closed, assigned to nobody

[2018-04-26 21:59] eriadam commented on #12
After several hours of trial and error I was able to produce a proper logstash server config.

https://gist.github.com/eriadam/34eecf42c19c3c6693b97d500fdcca63

[code]

[2018-07-10 17:35] pavan4 opened #47 "Issue when building a static library"
Hello,

When trying to package a static library with `JustLog` as a dependency in podspec, raises the following error

`The Swift pod "JustLog" depends upon "CocoaAsyncSocket", which do not define modules. To opt into those targets generating module maps (which is necessary to import them from Swift when building as static libraries), you may set "use_modular_headers!" globally in your Podfile, or

[2018-07-17 10:53] sean-howard opened #48 "macOS Support"
Hey,

Was hoping to use this project for logging in some macOS products but I see the pod spec doesn't specify `osx` support. Aside from the `UIDevice` extension is there anything else that'd stop it working on macOS projects?

If not I'm happy to do a PR for macOS support.

Sean.

[2018-09-04 07:34] tomasbek opened #49 "Store some of the logs on the file and send the others to the server"
Hello,

I wanted to ask about the ability to store some of the logs on the file and the others on the server. For example,  all the messages of type **Info** I'd like to store on the file. However, when serious error occurs, I'd like to send the message of type **Error** to the server. How do I implement this?

Additionally, how do you send entire log file to the server (logz.io or Parse)?

Thank

[2018-09-15 07:08] komocode opened #50 "No support for Objective-C Projects?"
Since this is using SwiftyBeaver, this can't be used in Objective-C projects? Not sure why README shows that it does support Obj-C projects then.

[2018-09-18 08:14] ghost commented on #48
Hi @sean-howard, there shouldn't be anything stopping from using JustLog on macOS, the dependency SwiftyBeaver has [support for it](https://github.com/SwiftyBeaver/SwiftyBeaver/blob/master/SwiftyBeaver.podspec#L23) already. Any PR is more than welcome.

[2018-09-18 08:17] ghost commented on #50
HI @komocode, JustLog does support ObjC, in fact we use it in just fine in ObjC code. Just use the Logger methods with `_objc` suffix.
From the README:
[code]

[2018-09-18 08:31] ghost commented on #43
Closing for inactivity.

[2018-09-18 08:31] #43 closed, assigned to nobody

[2018-09-18 16:25] pdegouville opened #51 "Carthage"
Do you intend to give the possibility to install your framework with Carthage ? thks

[2018-09-18 23:48] komocode commented on #50
I tried installing via CocoaPods, but SwiftyBeaver doesn't seem to be working with Obj-C projects. I ended up going a different route, so I'll close.

[2018-09-18 23:48] #50 closed, assigned to nobody

[2018-10-11 11:43] javaone360 opened #53 "What is JustLog default character encoding?"
Hello,

I want to ask what is JustLog default character encoding?  I have received the error from my Logstash server.  Can I set the JustLog default to UTF-8?

logstash log:
Received an event that has a different character encoding than you configured. {:text=>"\\u0016\\u0003\\u0001\\u0000\\xB5\\u0001\\u0000\\u0000\\xB1\\u0003\\u0003[\\xBE\\xD3N\\xE0&\\x9C(wQ.\\u0010&jH\\u0014\\xE3\\\"4ct\\xA4\\xC

[2018-10-12 11:19] przemyslaw-szurmak opened #54 "Ability to define custom log file path"
Hey,

there's a PR https://github.com/justeat/JustLog/pull/52 which adds this functionality. Any chance to review it soon ?

[2018-10-25 17:16] mark-anders commented on #51
I need that too.

[2018-11-09 10:46] ghost commented on #49
Hi @tomasbek, you can set the `minLevel` property of BaseDestination (which is the superclass of every destination) to define the log level.

JustLog currently has support for Logz.io: to send logs to it please see the relevant section in the [README](https://github.com/justeat/JustLog#sending-logs-to-logzio).

[2018-11-09 10:46] #49 closed, assigned to nobody

[2018-11-09 10:47] ghost commented on #51
Hi @pdegouville @mark-anders we don't use Carthage internally but we'd be happy to approve a PR with the changes to make it happen.

[2018-11-09 10:48] ghost commented on #54
#52 has now been merged ;)

[2018-11-09 10:48] #54 closed, assigned to nobody

[2018-11-09 11:05] ghost commented on #47
Hi @pavan4 we made the change w/ #56 and published version 2.4.1.

[2018-11-09 11:05] #47 closed, assigned to nobody

[2018-11-09 14:28] vahidsheikhalizadeh commented on #39
@tanis2000 I have the same problem and stumbled upon your answer, but somehow it did not solved the issue. could you please share with me the logstash configuration as well as what Have you done in your iOS app.
thanks

[2018-11-09 16:40] vahidsheikhalizadeh commented on #53
@albertodebortoli this seems to be the issue for me as well. unfortunately there is nothing mentioned in the documentation. I am not sure if its related to the encoding or its because of the SSL certificate. could you provide some information ?
many thanks

[2018-11-12 04:32] mark-anders commented on #51
@albertodebortoli, sorry for not noticing, but #34 was resolved. So it seems like Carthage is already supported, no?

[2018-11-12 08:44] ghost commented on #51
Ah! @mark-anders you are correct indeed! I didn't remember that.

[2018-11-12 08:44] #51 closed, assigned to nobody

[2018-11-12 13:21] vahidsheikhalizadeh commented on #53
@javaone360 were you able to solve the issue ?

[2018-11-12 14:28] javaone360 commented on #53
I am not able to resolve this issue.  We turn off SSL in Just Log and force UTF-8 and I still get encoding error.

It will be nice if we can have more documentation on how to setup logstash to work with JustLog even basic software requirements (minimum version of logstash) and configuration of logstash is good.

Setup logstash is not difficult but there are tons of options of logstash config.  It

[2019-04-17 10:16] anuranBarman opened #60 "Logger.shared.debug() is logging in main thread"
How can I log in Background thread? As i have verbose logging within the app, it's hanging the main thread.

[2019-04-24 16:06] ghost commented on #60
Hi @anuranBarman,
I'm investigating the issue that you reported.
The debug function runs on the queue in which you call it. It does some preparation work on that queue and then it calls the print function on a queue with a `default` quality of service.
If you call the `debug` function on a different queue it should not block the main queue.
Try somethings like:
[code]

Let us know if this helped o

[2019-04-25 05:02] anuranBarman commented on #60
Yes I know that calling it in different thread will fix it but the problem is I already have added log statement in many places, so for each place I need to add DispatchQueue which is cumbersome work. Can you expose a variant of `Logger.shared.debug()` which will run on background thread??

[2019-04-29 08:39] shayneoneill commented on #17
Did you ever work this out?

[2019-05-07 09:13] #48 closed, assigned to nobody

[2019-05-07 10:07] ghost commented on #48
Closing for inactivity

[2019-05-21 17:29] ghost commented on #60
Some of the destinations are already running on a queue that is not the main one. Which destination are you using?
We think that having a generic background log is not a suitable solution because we want to avoid managing concurrency issues as much as possible.
To solve the performance issue without having to modify the codebase too much you can make an extension with a method that calls debug on

[2019-05-21 17:40] ghost commented on #53
@javaone360 I'm trying to investigate this issue. AFAIK UTF-8 is the right encoding. Could I ask you if you discovered anything (since this issue is 6 months old)? Thank you

[2019-05-28 18:48] otisg opened #62 "Add Sematext / Elasticsearch as log output destination"
Elasticsearch has a simple HTTP REST API for ingesting data.
[Sematext](https://sematext.com/) exposes the Elasticsearch API, so by adding support for Elasticsearch output/destination we'd automatically get support for sending logs to Sematext, too.  2 birds...

Being able to send logs to Sematext or Elasticsearch would be welcomed by a lot of people.

@albertodebortoli-je WDYT?

[2019-07-03 14:20] ghost commented on #62
Hi @otisg, thank you for letting us know. It is definitely something that we can consider for the future, but right now it is not in our radar. Feel free to open a PR anyway!

[2019-07-22 19:34] Dario-Gasquez opened #66 "Question: GELF format support"
Hi,

We found about JustLog looking for iOS logging solutions that provide ELK integration. An additional requirement we are looking for is GELF format support:
https://docs.graylog.org/en/3.0/pages/gelf.html#gelf-payload-specification

I am wondering if it would be trivial to add GELF support to JustLog or if on the other hand it would require the use of an additional third party library?

Thanks

[2019-07-22 19:51] ilazakis commented on #66
From a first look at GELF  it looks like it’s feasible. `Logger` (the driving abstraction behind *JustLog*) assumes a number of [logstash specific things to be present](https://github.com/justeat/JustLog/blob/937cca0a2260bf5244fcfe0f5665b9ae85b95396/JustLog/Classes/Logger.swift#L42).

That said, extending the library to support new targets should be fairly straightforward, one could add the `GELF`

[2019-07-22 21:49] Dario-Gasquez commented on #66
Great!, that sounds promising. Thanks for the prompt reply.

[2019-07-22 21:49] #66 closed, assigned to nobody

[2019-08-05 20:50] philipp-serfling opened #68 "Add file & function to Console logging"
Is there any way to configure the Console logging in a way that it shows which file and which function caused the log?

This would be really handy.

[2019-08-13 12:27] gigisommo commented on #68
Yes, there is. You can change the format string specified for the different destinations `console` `logstash` or `file` that you can find in `Logger.swift` according to the `SwiftyBeaver` format documentation that you can find [here](https://docs.swiftybeaver.com/article/20-custom-format), then you need to pass the `#file`, `#function` and `#line` to the functions that you're using to log accordin

[2019-08-30 17:53] darioDelTemple opened #70 "Carthage build error using release 3.0.0"
Problem:
When trying to include JustLog version 3.0.0 I get the following error:
[code]

Solution:
increase the iOS Deployment target in project.pbxproj to 10.0 (from 8.0)

[2019-09-20 12:53] ChrisGrove opened #71 "Logging while app is in the background"
Hi, I have an app that runs a background refresh task.As part of that task I am logging the event.

The issue comes when the device is locked, regardless of wether the app is minimised or not. When the background task is triggered i get the following error:

This is the code that triggers the logger:

`
func application(_ application: UIApplication, performFetchWithCompletionHandler completionHand

[2019-09-24 10:56] gigisommo commented on #71
Hi @ChrisGrove,

I'm investigating this issue. I'm trying to replicate it using a demo project but I'm able to log also using background fetch. Could you try with just the Logger log in the background refresh method logging a static string? Just to understand if it could be related to other operations.
Did you change the file destination URL?

[2019-09-24 17:20] georgebellos commented on #53
I am having the same issue..anyone figure it out;

[2019-10-03 14:20] Dario-Gasquez opened #72 "Xcode 11 build error using Carthage"
Hi,

After installing Xcode 11, when running `carthage update` I get the following error when building the tvOS scheme:

[code]

this is the content of the Cartfile
[code]

I can avoid it by building only for the iOS platform, but if it is an easy fix I would like to be able to solve the issue for the tvOS platform.

[2019-10-23 20:05] noelrappin commented on #47
Okay, look, it's probably user error, but I'm still seeing this in a build that's installing version 3.0.1. Any ideas what's wrong here?

[2019-10-25 10:56] philipp-serfling commented on #68
That worked, thank you!
I have just enriched the message string with these variables.

`"\(message) ➡️ AT: \((String(describing:file) as NSString).lastPathComponent):\(function):\(line)"`

[2019-10-25 10:56] #68 closed, assigned to nobody

[2020-02-16 01:41] moatazeldebsy opened #81 "How can I get the actual rest results with XCUITest in the Log file"
I need to use the following example  :
[code]
but with a real example from the `XCTest` and log in the log file or send it to the JSON file for `LogStash`

[2020-02-16 02:04] moatazeldebsy opened #82 "Can't find errorDictionary fun with the latest version"
Can't find `errorDictionary` fun with the latest version

<img width="1187" alt="Screenshot 2020-02-16 at 03 03 17" src="https://user-images.githubusercontent.com/45570191/74597974-fbd3bd00-5068-11ea-8ef6-d100b9c85de3.png">

[2020-02-16 23:31] #82 closed, assigned to nobody

[2020-02-20 17:17] #81 closed, assigned to nobody

[2020-03-25 13:36] sauvikaktivo opened #83 "Not able to see log on Kibana even after seeing `🔌 <AsyncSocket>, did write`"
Hi,
Firstly thanks for this utility repository. i am facing issues to search log in Kibana.

I am using the following code, it's just an integration attempt to check everything is working fine.

### The code base i am using:
[code]
### The observation:
When executing `Logger.shared.info(text, userInfo: ["some key": "some extra info"])`, i can see some logs on my Xcode console.

[code]

### The Iss

[2020-03-25 16:39] albertodebortoli commented on #72
Hi @Dario-Gasquez, am I right in thinking that #79 solves this?

[2020-03-25 16:41] albertodebortoli commented on #70
Hi @darioDelTemple, this seems to be solved with #79.

[2020-03-25 16:41] #70 closed, assigned to nobody

[2020-08-25 04:53] Appelg opened #86 "Loglevel?"
I can't figure out if it's possible to configure a minimum loglevel to send?
I want to disable debug/info-logs when going to production.

[2020-08-29 17:16] albertodebortoli commented on #86
Hi @Appelg yes you can on any destination (via the `BaseDestination`'s `minLevel` property).

It's done via SwiftyBeaver, not JustLog per se.

E.g.
[code]

[2020-08-30 09:27] Appelg commented on #86
Totally missed that, thanks!

[2020-08-30 09:27] #86 closed, assigned to nobody

[2020-10-19 13:00] AlfredKallas opened #90 "Question on Offline Logging and re-upload when internet connection is available"
Hello,

Does justLog supports saving logs to a file or a  database and then uploading the logs to Elasticsearch or even a custom server when internet connection is available and based on some conditions for example :

- perdiodic timer

- when the size of the logs reach a certain size ?

After checking the code base of the library, i conclude that this is not provided, if i am not mistaken can i a

[2020-11-10 14:55] gigisommo commented on #53
Closing due to inactivity. If anyone still needs information or is having issues, please open a new issue with the details of the issue.

[2020-11-10 14:55] #53 closed, assigned to nobody

[2020-11-10 14:57] gigisommo commented on #60
Closing due to inactivity

[2020-11-10 14:57] #60 closed, assigned to nobody

[2020-11-10 14:57] #62 closed, assigned to nobody

[2020-11-10 14:58] gigisommo commented on #71
Closing due to inactivity

[2020-11-10 14:58] #71 closed, assigned to nobody

[2020-11-10 14:58] gigisommo commented on #72
Closing due to inactivity

[2020-11-10 14:58] #72 closed, assigned to nobody

[2020-11-10 15:00] gigisommo commented on #83
Hi @sauvikaktivo, is this still an issue for you?

[2020-11-10 15:26] gigisommo commented on #90
Hi @AlfredKallas, JustLog doesn't offer those features and we don't have plans to add them. but the library is open source so you can fork it and add it yourself!

[2020-12-10 12:47] lolitha-aet opened #91 "Is it possible to send logs to a HTTP endpoint ?"
Thank you for the awesome library @gigisommo .
Is it possible to send logs to a HTTP endpoint rather than using socket communication ?

[2021-01-05 15:47] gigisommo commented on #91
Hi @lolitha-aet,
thank you for your question and interest. Sadly JustLog does not support it out of the box. Under the hood JustLog uses [SwiftyBeaver](https://github.com/SwiftyBeaver/SwiftyBeaver) and you can take a look at it. JustLog remove part of SwiftyBeaver flexibility to make it easier to be up and running quickly. I hope that this will help.

[2021-03-07 18:23] stevekellogg opened #97 "Is JustLog available or validated on macOS?"
Hello folks.

I'm looking for a good solution for exporting logs to an ELK stack (I'm currently using Elastic cloud), but I sometimes need to support macOS in my apps.  I'm about to attempt a validation to see if JustLog is suitable, but I thought I'd ask whether you folks have any insights that might be helpful.

Thanks in advance.

[2021-03-09 16:34] gigisommo commented on #97
Hi @stevekellogg,

sadly we didn't try it out on macOS yet. JustLog uses [SwiftyBeaver](https://github.com/SwiftyBeaver/SwiftyBeaver) under the hood and it has support for macOS. You can give it a try. I don't see any obvious reason why it shouldn't work.

[2021-03-19 01:52] stevekellogg commented on #97
Thanks very much!  I'll keep you posted with any findings.

[2021-05-23 11:54] Parag2385 opened #104 "Carthage Error: Task failed with exit code 65"
Getting this error when trying to run the Carthage update command.

Command:
`carthage update JustLog --use-xcframeworks`

Error:
Task failed with exit code 65

More specific error from logs:
`Build input file cannot be found: '/Users/parag/Work/Backup/ios2Backup/Carthage/Checkouts/JustLog/JustLog/Classes/AsyncSocketManager.swift' (in target 'JustLog' from project 'JustLog')`

It'd be great if you

[2021-05-25 11:44] Ewg777 opened #105 "SPM: explicitly declare them as resources or exclude from the target"
Added JustLog as a SPM dependency
[code]

Trying to resolve packages graph with Xcode 12.5. Got the following warning:
[code]

[2021-06-22 13:18] #105 closed, assigned to nobody

[2021-06-24 12:28] nromptea42 opened #108 "[Question] How to setup on react-native"
Hello,

I'm developing a react-native app and I want to use this to send iOS logs to logz.io. I don't see any reason it won't work but I can't seem to make it work.

I tried to setup it like this
[code]

The logs appears correctly in xcode, but I receive nothing on logz.io.

<img width="351" alt="Screenshot 2021-06-24 at 14 25 32" src="https://user-images.githubusercontent.com/9318179/123262353-13

[2021-06-24 12:41] nromptea42 commented on #108
I also tried to modify the port as it may have changed since the doc was written but none of theses worked

<img width="343" alt="Screenshot 2021-06-24 at 14 40 54" src="https://user-images.githubusercontent.com/9318179/123264400-4b968400-d4fa-11eb-92c0-405014120eaa.png">
(<a href="https://docs.logz.io/user-guide/log-shipping/log-shipping-troubleshooting.html">link to the doc</a>)

[2021-06-24 14:43] nromptea42 commented on #108
I managed to make it work.
I setup an account in europe since I work here so I add to use the correct `logstashHost` which is `listener-uk.logz.io`.
I found it in my logz account after clicking on `Settings` -> `General` -> `Manage tokens` -> `Data shipping tokens` and then copying the `The Listener URL` which is there.

![Screenshot 2021-06-24 at 16 42 16](https://user-images.githubusercontent.co

[2021-06-24 14:43] #108 closed, assigned to nobody

[2021-07-07 15:07] #104 closed, assigned to nobody

[2021-07-14 02:47] phamsontm9x opened #110 "Just log crash on iOS 12"
BUG IN CLIENT OF LIBDISPATCH: Unbalanced call to dispatch_group_leave()
![image](https://user-images.githubusercontent.com/11141953/125552896-5a11e35f-b692-4d59-b542-65ba4cc7e837.png)

[2021-07-14 08:21] gigisommo commented on #110
@thanhsoncun Thank you for the crash report. We are aware of this crash. We just had few occurrences of this in production and we weren't able to reproduce it. Do you know how to reproduce it? How often does it happen?

[2021-07-16 14:38] phamsontm9x commented on #110
@gigisommo Thank you for your support. My users had crashed many times when using app. I have problem when i updated justlog 3.4 -> 3.6.

[2021-07-17 06:27] gigisommo commented on #110
Could you check if you also have a crash like this? Is it improved after the update?
![Screenshot 2021-07-17 at 07 24 39](https://user-images.githubusercontent.com/2893584/126028090-99db288c-cc38-4bf4-8f2e-ceb2f4997026.png)

[2021-07-19 02:46] phamsontm9x commented on #110
I don't have crash like this. My problem relate to dispatch_group_leave.

[2021-07-26 06:53] Ewg777 opened #111 "Fatal Exception: NSInvalidArgumentException -[__NSCFNumber count] Logger.log(_:_:error:userInfo:_:_:_:)"
Hi,

Please let me know how to fix the following issue in your lib.
Thanks

Fatal Exception: NSInvalidArgumentException
-[__NSCFNumber count]: unrecognized selector sent to instance 0x8000000000000000
Logger.log(_:_:error:userInfo:_:_:_:)
keyboard_arrow_down

Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x1a4112754 __exceptionPreprocess
1  libobjc.A.dylib

[2021-07-28 07:46] Ewg777 commented on #111
@gigisommo could you help me?

[2021-07-28 08:19] gigisommo commented on #111
Hi @Ewg777,
do you have a snippet of code to reproduce the crash? Sadly the stack trace is not very helpful to understand this crash.

[2021-07-28 10:54] Ewg777 commented on #111
@gigisommo here it is
[code]

[2021-07-28 10:58] gigisommo commented on #111
Thank you. I’m looking into it

[2021-07-28 12:04] gigisommo commented on #111
I tried by adding the snippet to the example app, but it works for me. Please take a look at the attached screenshot. Any other advice on how to reproduce it? Should I use any specific version of iOS?
![Screenshot 2021-07-28 at 13 02 56](https://user-images.githubusercontent.com/2893584/127319087-b2158371-94b3-4969-8fa2-0f101c61c1d4.png)

[2021-07-28 12:25] Ewg777 commented on #111
You need to create as many threads as possible

[code]

[2021-07-28 12:43] gigisommo commented on #111
Are you testing it on a real device or on the simulator?

[2021-07-28 12:44] Ewg777 commented on #111
Real customers' devices

[2021-07-28 13:04] gigisommo commented on #111
My guess is that even if you remove the calls to JustLog inside the `addOperation` closure it will crash anyway. When you do the `for _ in 1...1_000_000` your are creating 1 million objects into the heap and probably they fills the available memory. On top of that, the objects are created quickly from the main thread and the operation queue doesn't have the time to perform them since it runs with

[2021-07-28 13:26] Ewg777 commented on #111
1 million objects just an example to show the idea. The lib's code use the Set without synchronisation https://github.com/justeat/JustLog/blob/master/JustLog/Classes/Logger.swift#L213
In this case `destinations` 0x1a4015c3c -[NSOrderedSet initWithSet:copyItems:]

[2021-07-28 13:57] gigisommo commented on #111
We are aware of some minor concurrency issues in the library. We plan to work on those in this quarter. I created another ticket with the details you gave here. @albertodebortoli FYI

[2021-07-29 08:45] nirlachman-monday commented on #110
+1 on this crash

[2021-09-08 19:41] freak4pc opened #114 "[Crash] Over committing from RepeatingTimer"
Hey there,
We noticed there's a somewhat repeating crash on JustLog that looks like this:

[code]

<img width="914" alt="image" src="https://user-images.githubusercontent.com/605076/132574415-af7be934-b15b-424a-a26e-2e411066815f.png">

Over-comitting basically means the queue can't handle the amount of scheduled pieces of work simultaneously with the provided quality of service. I believe this is

[2021-10-06 18:20] kinjal-maven opened #117 "Is it possible to update defaultUserInfo dictionary after logger has been setup?"
Hi,
We want to update some fields in defaultUserInfo after the logger is set up. I tried resetting it but apparently, that didn't work.
Can we update them like that or do we have to call logger.setup() after the update?

[2022-03-17 11:13] zixzelz opened #120 "Code=28 "No space left on device""
Hi everyone,

Found an issue
`🔌 <LogstashDestination>, 1998045481163 did error: The operation couldn’t be completed. No space left on device`
`Error Domain=NSPOSIXErrorDomain Code=28 "No space left on device" UserInfo={_kCFStreamErrorCodeKey=28, _kCFStreamErrorDomainKey=1}`

Xcode 13.1, iOS 15.1

How to reproduce:
After sending approximately 500 request with logs, next requests do not sending.

Wh

[2022-05-17 09:28] meberl-detego commented on #110
Any progress on this one with the newest versions?
Was it reproduce able with the latest versions as well?

Ok, just saw, that i can only use 3.8.0 as minimum version, since from 4.0.0 on, the minimum deployment target has been changed to 13.4.

[2022-05-20 19:23] albertodebortoli commented on #120
Sorted with #123 and published in version 4.0.1.

[2022-05-20 19:23] #120 closed, assigned to nobody

[2022-05-31 17:33] diemer commented on #110
I've found I'm able to reproduce this (after quite a bit of hoop jumping to get to the right place) if I start my app with wifi off and issue a number of log items. Looking to see if I can find a fix.

[2022-06-02 00:25] diemer commented on #110
I think I've found a solution:
Change
[code]

To
[code]

Removing the explicit `dispatchGroup.leave()` in the `async` method, and instead passing the `dispatchGroup` in to the `async` method seems to fix things, at least in my testing. I'm guessing there are some edge cases in GCD that `async` passing in a group handles better than user code. 🤷‍♂️

Previously if the app has wifi off I can trigger

[2022-06-02 13:39] Yourney opened #124 "Multiple Logger instances"
Hi,
Is it possible to have multiple Logger instances, like:
I want to see two log files.
- One with all the logging
- One with only the critical ones so they are easily visible without the need for a Logfile analysis tool

In my AppDelegate, I created:

[code]

And then I configured them both
And then I called setup() on both

Would that be possible?
(I tried and got a crash)

Or would there be an

[2022-06-06 12:19] albertodebortoli commented on #110
This has now been resolved with #125 and published in version 4.0.2.

[2022-06-06 12:19] #110 closed, assigned to nobody

[2022-06-14 14:51] Yourney commented on #124
When I do not use the JustLog.Logger.shared, but just create two loggers, the app runs well (i.e. 'does not crash') but all logging is still done in only one log file (ignoring the the second instance I created).
So ... still no success in creating two log files.

[2022-11-10 04:00] sebnil opened #127 "Logs are not shown correctly in Kibana"
Config:
![image](https://user-images.githubusercontent.com/1711012/200997420-57209909-7365-4e41-8c4c-4a352d00558f.png)

This is what I see in Kibana:
![image](https://user-images.githubusercontent.com/1711012/200997295-4de64067-a7e4-4c0b-b004-7b1cb67c306b.png)

I am using the ELK stack from here:
https://github.com/deviantony/docker-elk

Why is the log message all in bytes? I expected a json like